header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;

  padding: 8px 20px;

  border-bottom: 1px solid var(--divider);

  .logo {
    filter: grayscale(1);
    opacity: 0.7;
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 600;

    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

    span {
      color: var(--royal-yellow);
    }

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: 0 0 0 -74px;

    a {
      padding: 16px;
      font-size: 16px;
      color: var(--text-default-inactive);

      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;

      &:hover {
        color: var(--text-default-hover);
      }
    }
  }
}

.user-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  &__locale {
    margin: 0 24px 0 0;
  }
}

.active {
  color: var(--text-default) !important;
  position: relative;
}

@media (max-width: 768px) {
  header {
    flex-direction: row-reverse;

    .navigation {
      display: none;
    }

    .user-menu {
      flex-direction: row-reverse;

      &__locale {
        margin: 0 0 0 24px;
      }
    }
  }
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }
}
