[submodule "src/contracts/graphql"]
	path = src/contracts/graphql
	url = git@github.com:veekhere/gp-schema.git
[submodule "src/main/resources/graphql"]
	path = src/main/resources/graphql
	url = git@github.com:veekhere/gp-schema.git
