.user-avatar {
  display: flex;
  height: 32px;
  width: 32px;

  justify-content: center;
  align-items: center;

  border: 1px solid var(--text-default-inactive);
  border-radius: 50%;

  svg > path {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

    stroke: var(--text-default-hover);
  }

  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;

  &:hover {
    cursor: pointer;
    border-color: var(--text-default-hover);

    svg > path {
      stroke: var(--text-default);
    }
  }
}

.active {
  border-color: var(--text-default-hover);

  svg > path {
    stroke: var(--text-default);
  }

  &:hover {
    border-color: var(--text-default-hover);
  }
}

@media (max-width: 768px) {
  .user-avatar {
    height: 38px;
    width: 38px;
    border-width: 2px;

    svg > path {
      stroke-width: 2px;
      stroke: var(--text-default-inactive);
    }

    &:hover {
      svg > path {
        stroke: var(--text-default-hover);
      }
    }
  }

  .active {
    border-color: var(--text-default) !important;

    svg > path {
      stroke: var(--text-default) !important;
    }
  }
}
