<ng-template
  #modalTemplate
  let-observer
>
  <div class="user-modal">
    <div class="user-modal__header">
      <p>{{ 'NAVIGATION.USER.ACTIONS.SETTINGS' | translate }}</p>
    </div>
    <div class="user-modal__content content">
      <div
        *ngIf="user$ | async as user"
        class="content__email email content-item"
      >
        <div class="email__header">
          <span class="item-title">Email:</span>
          <span class="item-value">{{ user?.email }}</span>
        </div>
        <tui-badge
          [status]="user?.emailVerified ? 'success' : 'error'"
          [value]="(user?.emailVerified ? 'USER.EMAIL_VERIFIED' : 'USER.EMAIL_NOT_VERIFIED') | translate"
          class="ml-8"
        ></tui-badge>
      </div>
    </div>
    <div
      *ngIf="!(user$ | async)?.emailVerified"
      class="user-modal__footer"
    >
      <button
        tuiButton
        type="button"
        size="m"
        [appearance]="(buttonDisabled$ | async) ? 'secondary' : 'primary'"
        [icon]="(buttonDisabled$ | async) ? loader : null"
        [disabled]="buttonDisabled$ | async"
        (click)="resendConfirmation()"
      >
        {{
          (buttonDisabled$ | async)
            ? ('ACTION.RESEND_EMAIL_COOLDOWN_START' | translate) +
              (timeRemaining$ | async) +
              ('ACTION.RESEND_EMAIL_COOLDOWN_END' | translate)
            : ('ACTION.RESEND_EMAIL' | translate)
        }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #loader>
  <tui-loader
    size="s"
    [inheritColor]="true"
    [showLoader]="true"
    [style.width.px]="30"
    [style.height.px]="30"
  ></tui-loader>
</ng-template>
