:host {
  .main {
    display: flex;
    width: 100vw;
    height: calc(100% - 362px);

    padding: 0 16px;

    .place {
      &-list {
        display: flex;
        flex-direction: column;

        overflow-y: scroll;

        width: min(100vw, max(100%, calc(100% - 16px)));
        min-width: 300px;
        max-width: calc(50% - 16px);
      }

      &-viewer {
        border: 1px var(--divider) solid;
        border-radius: 8px;

        width: min(100vw, max(100%, calc(100%)));
        min-width: 300px;
        max-width: calc(50% + 16px);

        height: calc(100% - 16px);

        background-color: var(--bg-default);
        box-shadow: var(--shadow);
        -webkit-box-shadow: var(--shadow);
        -moz-box-shadow: var(--shadow);

        padding: 24px;
      }
    }
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    &__container {
      width: 100%;
      border: 1px var(--divider) solid;
      border-radius: 8px;
      padding: 16px;

      .buttons {
        display: flex;
        justify-content: end;
      }
    }
  }
}
