:host {
  .visa {
    background-color: var(--royal-blue);
  }

  .electron {
    background-image: linear-gradient(45deg, var(--royal-speed-blue) 0%, var(--royal-blue) 70%);
  }

  .mir {
    background-image: linear-gradient(45deg, var(--royal-green) 0%, var(--royal-deep-green) 60%);
  }

  .mastercard {
    background-color: var(--text-service);
  }

  .maestro {
    background-image: linear-gradient(45deg, var(--royal-purple) 0%, var(--royal-indigo) 60%);
  }

  .card {
    color: var(--text-default);
  }
}
