:host {
  width: min(100vw, max(100%, calc(100% - 16px)));
  min-width: 300px;
  max-width: calc(100% - 16px);

  .place-card {
    border: 1px var(--divider) solid;
    border-radius: 8px;

    background-color: var(--bg-default);
    box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);

    padding: 24px;

    transition: background 0.3s ease 0s;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease 0s;
    -ms-transition: background 0.3s ease 0s;
    -o-transition: background 0.3s ease 0s;

    &:hover {
      cursor: pointer;
      background-color: var(--hover-overlay);
    }

    .card__header {
      display: flex;
      justify-content: space-between;
      align-items: start;

      padding: 0 0 16px 0;
      border-bottom: 1px var(--divider) solid;

      .left-side {
        .place {
          &__space-type {
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 16px 0;
          }

          &__rent-type {
            font-size: 16px;
            font-weight: 400;
          }

          &__price {
            margin: 8px 0 12px 0;
            font-size: 16px;
          }
        }
      }

      .right-side {
        display: flex;
        flex-direction: column;
        align-items: end;

        p {
          font-size: 14px;
          color: var(--text-default-inactive);
        }
      }
    }

    .card__content {
      padding: 16px 0 0 0;

      .content__container {
        .content__title {
          font-weight: 600;
          font-size: 14px;

          margin: 0 0 8px 0;
        }
        .place__address {
          color: var(--text-secondary);
        }
      }
    }
  }
}
