<div
  class="place-card place card"
  (click)="click()"
>
  <div class="card__header">
    <div class="left-side">
      <p class="place__space-type">{{ placeProjection?.spaceType$ | async }}</p>
      <p class="place__rent-type">{{ placeProjection?.rentTypes$ | async }}</p>
      <p class="place__price">{{ placeProjection?.avgPrice | appCurrency : 'RUB' : 0 : 0 }}</p>

      <div class="flex">
        <app-rating
          class="mr-2"
          [control]="getControl(CONTROL_NAMES.AVG_RATING)"
          [readonly]="true"
        ></app-rating>
        <tui-svg
          [tuiHint]="tooltip"
          [tuiHintDirection]="'right-bottom'"
          src="tuiIconHelpCircle"
        ></tui-svg>
      </div>
    </div>

    <div class="right-side">
      <p class="area">{{ placeProjection?.area }} м²</p>
      <p class="floor">{{ placeProjection?.floor }} {{ 'TEXT.FLOOR' | translate }}</p>
    </div>
  </div>

  <div class="card__content content">
    <div class="content__container">
      <p class="content__title">{{ 'ENTITY.PLACE.ADDRESS' | translate }}</p>
      <p class="place__address">{{ placeProjection?.address }}</p>
    </div>
  </div>
</div>

<ng-template #tooltip>
  <div class="mb-2">
    <p>{{ 'ENTITY.PLACE.PLACE_RATING' | translate }}</p>
    <app-rating
      [control]="getControl(CONTROL_NAMES.AVG_PLACE_RATING)"
      [readonly]="true"
    ></app-rating>
  </div>

  <div class="mb-2">
    <p>{{ 'ENTITY.PLACE.LANDLORD_RATING' | translate }}</p>
    <app-rating
      [control]="getControl(CONTROL_NAMES.AVG_LANDLORD_RATING)"
      [readonly]="true"
    ></app-rating>
  </div>

  <ng-container *ngIf="!!placeProjection?.avgNeighborRating">
    <div>
      <p>{{ 'ENTITY.PLACE.NEIGHBOR_RATING' | translate }}</p>
      <app-rating
        [control]="getControl(CONTROL_NAMES.AVG_NEIGHBOR_RATING)"
        [readonly]="true"
      ></app-rating>
    </div>
  </ng-container>
</ng-template>
