.auth-footer {
  display: flex;
  justify-content: space-between;

  a {
    color: var(--text-default-inactive);

    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

    &:hover {
      cursor: pointer;
      color: var(--text-default-hover);
    }

    &:active {
      color: var(--text-default);
    }
  }
}
